/*Utility Class*/
.hidden
{
	display: none;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; 
}

img:hover
{
	box-shadow: 10px 10px 30px grey;
	transform: scale(1.1);
	transition: 0.8s;
}


/*switch box model*/
html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic; 
}

body
{
	font-family: 'Varela Round', sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

a 
{ 
  color:#000; 
  text-decoration: none;  
  transition:all .1s linear 0s;
  font-family: 'Varela Round', sans-serif;
}

h2, h3
{
	font-family: 'Varela Round', sans-serif;
	color: #4E5C1B;
}

a
{
	font-family: 'Varela Round', sans-serif;
}

p
{
	font-family: 'Varela Round', sans-serif;
}


/*  index  */
/*  mobile */

.siteContainer {
  margin: 0px auto;
  padding: 0px 15px 0 15px;
  max-width: 1200px; 
}



#header
{
	margin-bottom: 20px;
	margin-top: 5px;
}

#MainNav
{
	display: flex;
	flex-direction: column-reverse;
}

#MainNav button
{
	background: url(../images/menu.svg) center no-repeat;
	width: 20px;
	height: 20px;
	border: 0;
	transition: all 400ms ease;
	margin-left: auto;
}

#MainNav button.expanded
{
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

#MainNav li a
{
	display: block;
	padding: 10px 0 10px 0;
	color: #5E7131;
	text-align: center;
}

#MainNav li
{
	border-bottom: 1px dotted #efefef;
}

#MainNav li:first-child
{
	border-bottom: 1px dotted #efefef;
}

#MainNav li:last-child
{
	margin-bottom: 10px;
}

#MainNav input[type=text]
{
	display: block;
	width: 100%;
	height: 40px;
	padding: 5px;
	border: 1px solid #b0b79b;
	border-radius: 3px 0px 3px 0px;
	background-color: #fefefe;
	box-shadow: inset 0 1px 2px rgba(10,10,10, 0.1);
	color: #050505;
}

#MainNav input[type=submit]
{
	height: 40px;
	width: 100px;
	border-radius: 0 3px 3px 0;
	text-align: center;
	font-size: 14px;
	background-color: #d4b65d;
	color: #fefefe;
	border: 0;
}

#searchForm
{
	display: flex;
	flex-direction: row;
}

#navCon
{
	margin-top: 20px;
	display: none;
}

#navCon.slideToggle
{
	display: block;
}

.logo
{
	display: block;
	margin: 0 auto;
	max-width: 150px;
}

.logo img:hover
{
	box-shadow: none;
}

#MainDiv
{
	background-image: url(../images/river_bg3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
	margin-bottom: 30px;
	padding-top: 15px;
}

#Info
{
	background: rgba(255,255,255,0.8);
	padding: 10px 20px 0 20px;
	height: 270px;
}

#Info h2
{
	font-size: 20px;
	margin-bottom: 15px;
	margin-top: 10px;
}

#Info h3
{
	font-size: 16px;
	letter-spacing: .35px;
	line-height: 15px;
	font-style: italic;
}

#Info p
{
	color: #4A4A4A;
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 20px;
}

#italic
{
	font-style: italic;
}


.Image1
{
	height: 327px;
	margin-bottom: 10px;
}

.Image1 img
{
	border: 2px solid black; 
	box-shadow: 5px 5px 15px grey;
}


.Text1
{
	margin: 0 auto;
}

.Text1 h2
{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.Text1 h3
{
	font-size: 16px;
	margin-bottom: 10px;
	padding-left: 10px;
	font-style: italic;
	color: #D6A867;
}

.Text1 p
{
	font-size: 14px;
	word-spacing: 1.5px;
	margin-bottom: 20px;
	line-height: 20px;
	background: rgba(176,183,155, 0.5);
	padding: 15px;	
	color: #4A4A4A;
}

.rodBuilding
{
	margin-bottom: 10px;
}

.rodBand
{
	background-color: #D6A867;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.rodBand:hover
{
	background-color: #7E8C5D;
	color: #E3BC88;
}

.icon
{
	float: left;
	max-width: 70px;
	margin-right: 20px;
	margin-top: 0;
	margin-bottom: 0;
}

.rods
{
	margin-top: 20px;
	margin-bottom: 40px;
}

.rods h2
{
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 10px;
	padding-top: 20px;
}

.rods p
{
	font-size: 14px;
	word-spacing: 1.5px;
	margin-bottom: 20px;
	line-height: 30px;
	margin-top: 10px;
	padding-top: 10px;
	color: #97BF39;
}

.rods a
{
	color: #D6A867;
	padding: 5px;
	border-radius: 10px;
}

.Image2
{
	height: 321px;
	margin-bottom: 10px;
}

.Image2 img
{
	border: 2px solid black; 
	box-shadow: 5px 5px 15px grey;
}

.Image2 img:hover
{
	box-shadow: 10px 10px 30px grey;
}

.Text2
{
 	margin: 0 auto; 
}

.Text2 h2
{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.Text2 h3
{
	font-size: 16px;
	margin-bottom: 10px;
	padding-left: 10px;
	font-style: italic;
	color: #D6A867;	
}

.Text2 p
{
	font-size: 14px;
	word-spacing: 1.5px;
	margin-bottom: 20px;
	line-height: 20px;
	background: rgba(176,183,155, 0.5);
	padding: 10px;	
	color: #4A4A4A;
}

.footer
{
	max-width: 100%;
	background-color: #E3BC88;
	padding: 10px;
}


.footer h2 
{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

.footer p
{
	font-size: 14px;
	line-height: 18px;
}

.bold
{
	font-weight: bold;
}





/*  about */
/*  mobile */
#aboutText
{
	margin: 0 auto;
}

#aboutText h2
{
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	letter-spacing: 0.8px;
}

#aboutText h3
{
	font-size: 16px;
	color: #D6A867;
	font-style: italic;
	letter-spacing: 0.2px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#aboutText p
{
	font-size: 14px;
	word-spacing: 1.5px;
	margin-bottom: 20px;
	line-height: 20px;
	background: rgba(176,183,155, 0.5);
	padding: 10px;	
	color: #4A4A4A;
}

.moreAbout
{
	margin: 0 auto;  
}

.moreAbout img
{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 400px;
	border: 2px solid black;
}

.moreAbout h2
{
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	letter-spacing: 0.8px;
	font-weight: bold;
}

.moreAbout p
{
	font-size: 14px;
	word-spacing: 1.5px;
	margin-bottom: 20px;
	line-height: 20px;
	background: rgba(176,183,155, 0.5);
	padding: 10px;	
	margin-top: 10px;
	color: #4A4A4A;
}

.businesses
{
	margin: 0 auto;
}

#bsHd
{
	background-color: #D6A867;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto 10px auto;
}

#bsHd:hover
{
	background-color: #7E8C5D;
	color: #E3BC88;
}

.businessCon h3
{
	font-size: 16px;
	color: #D6A867;
	font-style: italic;
	letter-spacing: 0.2px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.business
{
	margin: 10px auto 10px auto;
}

.business img
{
	float: left;
	width: 200px;
	border: 2px solid brown;
	margin: 10px;
}

.business h2
{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	letter-spacing: 0.8px;
	margin-left: 10px;
	margin-top: 10px;
	line-height: 30px;
	
}

.business p
{
	font-size: 14px;
	word-spacing: 1.5px;
	margin-bottom: 20px;
	line-height: 30px;
	margin-top: 10px;
	color: #B9C979;
	margin-left: 10px;
}

.business a
{
	color: #D6A867;
	padding: 10px;
	border-radius: 10px;
}




/* pastevents */

#MainDivVideo video
{
	width: 400px;
	height: 400px;
}

#events img:hover
{
	box-shadow: 10px 10px 30px grey;
}
#events
{
	margin-top: 10px;
	margin-bottom: 10px;
}

#events img
{
	border: 2px solid black;
	box-shadow: 5px 5px 15px grey;
}

#events h2
{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.8px;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#events h3
{
	font-size: 16px;
	font-style: italic;
	color: #D6A867;
	margin-bottom: 10px;
	margin-left: 10px;
}

#events p
{
	font-size: 14px;
	word-spacing: 1.5px;
	margin-bottom: 20px;
	line-height: 20px;
	background: rgba(176,183,155, 0.5);
	padding: 10px;	
	color: #4A4A4A;
}

.lightboxBG
{
	position: absolute;
	background-color: #000000;
	top: 0px;
	left: 0px;
	opacity: 0.5;
	display: none;
	height: 100%;
	width: 100%;
}

.lightboxImg1
{
	position: relative;
	top: 25%;
	left: 40%;
	display: none;
}



/* projects */

#traaProjects
{
	margin: 10px;
}

#traaProjects h2
{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	letter-spacing: 0.8px;
}

#traaProjects h3
{
	font-size: 16px;
	font-style: italic;
	margin-bottom: 10px;
	letter-spacing: 0.5px;
}

#traaProjects p
{
	font-size: 14px;
	background-color: #E3BC88;
	padding: 10px;
	margin-left: 0;
	line-height: 20px;
	color: #4A4A4A;
}

#Project1
{
	margin: 10px;
}

#Project1 h2
{
	font-size: 18px;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
	margin-top: 20px;
	font-weight: bold;
}

#Project1 a
{
	font-size: 16px;
	font-style: italic;
	color: #E3BC88;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
}

#Project1 img
{
	border: 2px solid black;
	box-shadow: 5px 5px 15px grey;
	margin-top: 10px;
	margin-bottom: 20px;
}

#Project1 img:hover
{
	box-shadow: 10px 10px 30px grey;
}

#Project1 p
{
	background-color: rgba(176,183,155, 0.5);
	padding: 10px;
	line-height: 20px;
	color: #4A4A4A;
	margin-bottom: 10px;
}

#read
{
	color: #D6A867;
	padding: 10px;
	border-radius: 10px;
}

#Project2
{
	margin: 10px;
}

#Project2 h2
{
	font-size: 18px;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
	margin-top: 20px;
	font-weight: bold;
}

#Project2 a
{
	font-size: 16px;
	font-style: italic;
	color: #E3BC88;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
}

#Project2 img
{
	border: 2px solid black;
	box-shadow: 5px 5px 15px grey;
	margin-top: 10px;
	margin-bottom: 20px;
}

#Project2 img:hover
{
	box-shadow: 10px 10px 30px grey;
}

#Project2 p
{
	background-color: rgba(176,183,155, 0.5);
	padding: 10px;
	line-height: 20px;
	color: #4A4A4A;
	margin-bottom: 10px;
}

#projectArchives h2
{
	background-color: #D6A867;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 20px;
}

#projectArchives h2:hover
{
	background-color: #7E8C5D;
	color: #E3BC88;
}

#projectArchives a
{
	font-size: 18px;
	font-weight: bold;
	color: #4A4A4A;
	background-color: #efefef;
	padding: 10px;
	margin: 20px;
}


/* links */
#links
{
	margin: 10px;
	color: #4A4A4A;  
}

#links h2
{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.8px;
	margin-bottom: 10px;
}

#links h3
{
	font-size: 16px;
	font-style: italic;
	color: #D6A867;	
	margin-bottom: 10px;
}

#links h4
{
	font-size: 18px;
	color: #4E5C1B;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 10px;
	letter-spacing: 0.8px;
}

#links a
{
	font-size: 18px;
	color: blue;
	letter-spacing: 0.6px;
}

#links p
{
	font-size: 14px;
	line-height: 24px;
	background-color: rgba(176,183,155, 0.5);
	padding: 10px;
	
}

#Authorities
{
	margin: 10px;
}

#Authorities h2
{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	letter-spacing: 0.8px;
}

#Authorities a
{
	font-size: 16px;
	font-style: italic;
	color: blue;
	letter-spacing: 0.3px;
}


#Entities
{
	margin: 10px;
}

#Entities h2
{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
}

#Entities a
{
	font-size: 16px;
	color: blue;
	letter-spacing: 0.3px;
	line-height: 20px;
}

#localCenters
{
	margin: 10px;
}

#localCenters h2
{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.5px;
	line-height: 26px;
	margin-bottom: 10px;
}

#localCenters a
{
	font-size: 18px;
	color: blue;
	letter-spacing: 0.6px;
}

#localCenters p
{
	font-size: 14px;
	line-height: 24px;
	background-color: rgba(176,183,155, 0.5);
	padding: 10px;
	color: #4A4A4A;
	line-height: 26px;
}

#fishingLinks
{
	margin: 10px;
}

#fishingLinks h2
{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
}

#fishingLinks a
{
	font-size: 18px;
	color: blue;
	letter-spacing: 0.3px;
}

#fishingLinks p
{
	font-size: 14px;
	line-height: 24px;
	background-color: #E3BC88;
	padding: 10px;
	color: #4A4A4A;
}

#note
{
	font-size: 14px;
	line-height: 24px;
	background-color: rgba(176,183,155, 0.5); 
	color: #4A4A4A;
	padding: 10px;
	margin-bottom:30px;
}

/*  contact */

#contactForm
{
	background-color: #E3BC88;
	padding: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 2px dotted #D6A867;
	box-shadow: 5px 5px 15px lightyellow;
}

#contactForm label
{
	font-size: 18px;
	color: #4E5C1B;
	margin: 10px;
	padding: 10px;
}

#contactForm input
{
	margin: 20px;
	margin-top: 10px;
	padding: 5px;
	width: 70%;
	height: 40px;
	border: 1px solid #b0b79b;
	border-radius: 3px;
	background-color: #fefefe;
	box-shadow: inset 0 1px 2px rgba(10,10,10, 0.1);
	color: #050505;
}

#contactForm textarea
{
	margin: 20px;
	margin-top: 10px;
	padding: 5px;
	width: 70%;
	height: 100px;
	border: 1px solid #b0b79b;
	border-radius: 3px;
	background-color: #fefefe;
	box-shadow: inset 0 1px 2px rgba(10,10,10, 0.1);
	color: #050505;
}

#contactForm input[type=submit]
{
	height: 40px;
	width: 100px;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
	background-color: #4E5C1B;
	color: #fefefe;
	border: 0;
}

#contactInfo
{
	background-color: rgba(176,183,155, 0.5);
	padding: 20px;
	margin-bottom: 20px;
}

#contactIcon img
{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
	margin: 10px;
}

#contactIcon 
{
	align-items: center;
	margin: 10px;
	border: 3px dotted #D6A867;
	border-radius: 3px;
	padding: 10px;
}

#contactIcon h2
{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

#contactIcon p
{
	font-size: 14px;
	line-height: 20px;
	color: #4A4A4A;
}

#locationDetails
{
	margin: 30px 10px 10px 10px;
	border: 3px dotted #D6A867;
	border-radius: 3px;
	padding: 10px;
}

#locationDetails img
{
	width: 40px;
	height: 60px;
	float: left;
	margin-right: 20px;
}

#locationDetails p
{
	font-size: 16px;
	color: #4E5C1B;
	line-height: 20px;
	margin-left: 60px;
}

#emailInfo
{
	margin: 30px 10px 10px 10px;
	border: 3px dotted #D6A867;
	border-radius: 3px;
	padding: 10px;
}

#emailInfo img
{
	width: 60px;
	height: 40px;
	float: left;
	margin-right: 10px;
}

#emailInfo a
{
	color: blue;
	margin: 10px;
	line-height: 40px;
}

#googleMap
{
	display: none;
}

/*  tablet */
@media screen and (min-width: 400px) {
	
	img:hover
	{
		box-shadow: 10px 10px 30px grey;
	}
	
	#Info h2
	{
		font-size: 22px;
	}
	
	#Info h3
	{
		font-size: 18px;
	}
	
	#Info p
	{
		font-size: 16px;
	}
	
	.Text1 h2
	{
		font-size: 22px;
	}
	
	.Text1 h3
	{
		font-size: 18px;
	}
	
	.Text1 p
	{
		font-size: 16px;
	}
	
	.rods h2
	{
		font-size: 22px;
	}
	
	.rods p
	{
		font-size: 16px;
	}
	
	.Text2 h2
	{
		font-size: 22px;
	}
	
	.Text2 h3
	{
		font-size: 18px;
	}
	
	.Text2 p
	{
		font-size: 16px;
	}
	
/* 	about */
	
	#aboutText h2
	{
		font-size: 22px;
	}
	
	#aboutText h3
	{
		font-size: 18px;
	}
	
	#aboutText p
	{
		font-size: 16px;
	}
	
	.moreAbout h2
	{
		font-size: 22px;
	}
	
	.moreAbout p
	{
		font-size: 16px;
	}
	
	.businessCon h3
	{
		font-size: 18px;
	}
	
	
	.business h2
	{
		font-size: 22px;
	}
	
	.business p
	{
		font-size: 16px;
	}
	
	
/* 	past events */
	
	#events h2
	{
		font-size: 20px;
	}
	
	#events h3
	{
		font-size: 18px;
	}
	
	#events p
	{
		font-size: 16px;
	}
}

@media screen and (min-width: 620px) {
	#Info h2
	{
		font-size: 32px;
	}
	
	#Info h3
	{
		font-size: 22px;
	}
	
	#Info p
	{
		width: 60%;
	}
	
	#Info img
	{
		margin-left: 60%;
		width: 200px;
		margin-top: -30px;
	}
	
	#aboutText h2
	{
		font-size: 24px;
	}
	
	.business h2
	{
		margin-top: 10px;
		margin-bottom: 30px;
	}
	.business p
	{
		line-height: 30px;
		margin-top: 20px;
	}
	
}

@media screen and (min-width: 760px) {
	
	#welcomeCon
	{
		display: flex;
	}
	
	#Info img
	{
		margin-left: 70%;
		width: 200px;
		margin-top: -30px;
	}
	
	
	.Image1
	{
		flex: 1 1 200px;
	}
	
	.Text1
	{
		flex: 1 1 200px;
		margin-left: 20px;
	}
	
	.Text1 h2
	{
		margin-bottom: 5px;;
	}
	
	.Text1 h3
	{
		margin-bottom: 5px;
	}
	
	.Text1 p
	{
		font-size: 16px;
		line-height: 18px;
		padding: 5px;
	}
	
	.band
	{
		display: flex;
		justify-content: space-evenly
	}
	
	.rods
	{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-right: 10px;;
		flex: 1 1 200px;
		text-align: left;
	}
	
	.rods:last-child
	{
		margin-right: 0;
	}
	
	.rods h2
	{
		font-size: 18px;
		margin: 0;
		
	}
	
	.rods img
	{
		margin-left: 20px;
		margin-bottom: 10px;
	}
	
	.rods h2
	{
		text-align: center;
		margin-top: 10px;
		
	}
	.rods p
	{
		font-size: 14px;
		line-height: 25px;
	}
	
	.rods a
	{
		font-size: 14px;
	}
	
	.merchandise
	{
		display: flex;
	}
	
	.Image2
	{
		flex: 1 1 400px;
		margin-top: 50px;
	}
	
	.Text2
	{
		flex: 1 1 400px;
	}
	
	.Text2 h2
	{
		margin-bottom: 5px;
	}
	
	.Text2 h3
	{
		margin-bottom: 5px;
	}
	
	.Text2 p
	{
		padding: 10px;
		line-height: 20px;
	}
	
	.footer
	{
		display: flex;
		margin-top: 40px;
	}
	
	.footerNav
	{
		flex: 1 1 250px;
		margin-left: 50px;
	}
	
	#Commitee_name
	{
		flex: 1 1 250px;
	}
	
/* 	about */
	
	.Text2
	{
		margin-right: 30px;
	}
	
	#MainDiv
	{
		background: url(../images/river_bg2.jpg) center no-repeat;
	}
	
	.moreAbout
	{
		display: flex;
	}
	
	.moreAbout img
	{
		margin-top: 50px;
	}
	
	.Text3
	{
		max-width: 60%;
		margin-left: 10px;
		margin-right: auto;
	}
	
	.business h2
	{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
	
/* 	past events */
	
	#MainDivVideo video
	{
		width: 760px;
		height: 400px;
	}
	#events h2
	{
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 22px;
	}
	
	#events h3
	{
		margin-bottom: 15px;
		font-size: 18px;
	}
	
	#events p
	{
		padding: 15px;
		line-height: 20px;
	}
	
	#Event1
	{
		display: flex;
	}
	
	#EventImg1
	{
		flex: 1 1 250px;
	}
	
	#EventText1
	{
		flex: 1 1 250px;
		margin-right:30px;
	}
	
	#Event2
	{
		display: flex;
		margin-top:40px;
	}
	
	#EventText2
	{
		flex: 1 1 400px;
		margin-left:30px;
	}
	
	#EventImg2
	{
		order: -1;
		flex: 1 1 400px;
	}
	
	#EventText2 p
	{
		line-height: 20px;
		padding: 10px;
	}
	
	#Event3
	{
		display: flex;
		margin-top: 40px;
	}
	
	#EventImg3
	{
		flex: 1 1 400px;
	}
	
	#EventText3
	{
		flex: 1 1 400px;
		margin-right: 30px;
	}
	
	#EventText3 h2
	{
		margin-bottom: 5px;
	}
	
	#EventText3 h3
	{
		margin-bottom: 5px;
	}
	
	#EventText3 p
	{
		line-height: 18px;
		padding: 10px;
	}
	
	#Event4
	{
		display: flex;
		margin-top: 40px;
	}
	
	#EventImg4
	{
		order: -1;
		margin-top: 10px;
		margin-right: 30px;
		flex: 1 1 400px;
	}
	
	#EventText4
	{
		flex: 1 1 400px;
	}
	
	#EventText4 h2
	{
		margin-bottom: 5px;
	}
	
	#EventText4 h3
	{
		margin-bottom: 5px;
	}
	
	#EventText4 p
	{
		line-height: 20px;
		padding: 10px;
	}
	
	#Event5
	{
		display: flex;
		margin-top: 40px;
	}
	
	#EventText5
	{
		flex: 1 1 400px;
		margin-right: 30px;
	}
	
	#EventImg5
	{
		flex: 1 1 400px;
		margin-top: 20px;
	}
	
	#EventText5 h2
	{
		margin-bottom: 5px;
	}
	
	#EventText5 h3
	{
		margin-bottom: 5px;
	}
	
	#EventText5 p
	{
		line-height: 18px;
		padding: 10px;
	}
	
	#Event6
	{
		display: flex;
		margin-top: 40px;
	}
	
	#EventImg6
	{
		order: -1;
		flex: 1 1 400px;
		margin-right: 30px;
		margin-top: 20px;
	}
	
	#EventText6
	{
		flex: 1 1 400px;
	}
	
	#EventText6 h2
	{
		margin-bottom: 5px;
	}
	
	#EventText6 h3
	{
		margin-bottom: 5px;
	}
	
	#EventText6 p
	{
		line-height: 18px;
		padding: 10px;
	}
	
	#Event7
	{
		display: flex;
		margin-top: 40px;
	}
	
	#EventImg7
	{
		flex: 1 1 400px;
	}
	
	#EventText7
	{
		flex: 1 1 400px;
		margin-right: 30px;
	}
	
/* 	projects */


	#traaProjects h2
	{
		font-size: 26px;
		letter-spacing: 0.8px;
		text-align: center;
	}
	
	#traaProjects h3
	{
		font-size: 20px;
		text-align: center;
	}
	
	#traaProjects p
	{
		font-size: 16px;
		line-height: 22px;
		padding: 15px;
	}
	
	#Project1 h2
	{
		font-size: 28px;
		text-align: center;
	}
	
	#Project1 a
	{
		font-size: 18px;
	}
	
	#Project1 img
	{
		margin-right: 0;
	}
	
	#Project1 p
	{
		letter-spacing: 0.7px;
		padding: 15px;
	}
	
	#Project2 h2
	{
		font-size: 28px;
		text-align: center;
	}
	
	#Project2 a
	{
		font-size: 18px;
	}
	
	#Project2 img
	{
		margin-right: 0;
	}
	
	#Project2 p
	{
		letter-spacing: 0.7px;
		padding: 15px;
	}
	
	#projectArchives h2
	{
		font-size: 22px;
	}
	
	#projectArchives a
	{
		background-color: #F7E2C8;
	}
	
	#projectArchives a:hover
	{
		background: #97BF39;
		font-size: 22px;
		font-style: italic;
		border-radius: 3px;
		color: #F7E2C8;
	}
	
	
	
	
	
	
/* 	contact us */

	form
		{
			/*! max-width: 70%; */
		}	

	#contactInfo
		{
			display: flex;
		}

  #contactIcon
		{
			flex: 1 1 400px;
			text-align: justify;
		}
	
	#contactIcon img
	{
		float: none;
	}
	
	#locationDetails
	{
		flex: 1 1 400px;
		margin-top: 10px;
	}
	
	#locationDetails img
	{
		float: none;
	}
	
	#locationDetails p
	{
		line-height: 30px;
		margin-left: 10px;
		font-weight: bold;
		color: #4A4A4A;
	}
	
	#emailInfo
	{
		flex: 1 1 250px;
		margin-top: 10px;
	}
	
	#emailInfo img
	{
		float: none;
		margin-left: 10px;;
	}
	
	#emailInfo a
	{
		line-height: 60px;
		margin-left: 10px;
	}
	
	
	
	.footerNav
	{
		max-width: 60%;
		margin-left: 20%;
	}
	
	.Commitee_name
	{
		max-width: 60%;
		margin-right: 20%;
	}
	
	
	
}



/* desktop */
/* home */
@media screen and (min-width: 1200px) {
	
	p:hover
	{
		background-color: #DEE8BE;
		color: #cd892a;
	}
	
	#header
	{
		display: flex;
	}
	
	#button
	{
		display: none;
	}
	
	#navCon
	{
		display: flex;
		flex-direction: column;
	}
	
	#MainNav
	{
		margin-left: auto;
	}
	
	#search
	{
		order: -1;
		margin-top: 0;
		margin-bottom: 45px;
	}
	
	.logo
	{
		order: -1;
		flex: 1 1 200px;
		margin-left: 10px;
	}
	
	#MainNav
	{
		margin-left: auto;
	}
	
	#search
	{
		order: -1;
		margin-top: 0;
		margin-bottom: 45px;
	}
	
	#MainNav input[type=text]
	{
		max-width: 40%;
	}
	
	#MainNav li
	{
		border-bottom: none;
		display: inline;
		margin-left: 20px;
	}
	
	#MainNav li a 
	{
		display: inline;
		padding: 5px 0 5px 0;
		color: #4E5C1B;
		font-size: 18px;
		margin-left: 20px;
	}
	
	#MainNav li a:hover
	{
		color: #efefef;
		background-color: #95B04F;
		padding: 5px;
		border-bottom: 3px solid #D6A867;
		border-radius: 5px;
		font-weight: bold;
	}
	
	#MainNav ul li:first-child
	{
		border-bottom: none;
	}
	
	#searchForm
	{
		justify-content: flex-end;
	}
	
	#traaLogo
	{
		display: block;
		max-width: 160px;
	}
	
	#MainDiv
	{
		background: url(../images/river_bg1.jpg) no-repeat center;
	}
	
	#welcomeCon img
	{
		margin-left: 80px;
		max-width: 400px;
	}
	
	#Info p
	{
		line-height: 30px;
	}
	
	#Info img
	{
		margin-left: 70%;
		width: 200px;
		margin-top: -30px;
	}
	
	
	.Text1
	{
		margin-left: auto;
		max-width: 50%;
		margin-right: 80px;
	}
	
	.Text1 h2
	{
		margin-bottom: 20px;
	}
	
	.Text1 h3
	{
		margin-bottom: 20px;
	}
	
	.Text1 p
	{
		line-height: 25px;
		padding: 10px;
	}
	
	.rods
	{
		align-items: center;
	}
	
	.rods a:hover
	{
		color: #efefef;
		background-color: #95B04F;
		padding: 5px;
		border-bottom: 3px solid #D6A867;
		border-radius: 5px;
		font-weight: bold;
	}
	
	.merchandise
	{
		display: flex;
		flex-wrap: wrap;
	}
	
	.Image2
	{
		margin-right: 50px;
		flex: 1 1 250px;
		margin-top: 0;
/* 		max-width: 400px; */
	}
	
	.Text2
	{
		margin-right: 80px;
		max-width: 45%;
		margin-left: 80px;
	}
	
	.Text2 h2
	{
		margin-bottom: 10px;
	}
	
	.Text2 h3
	{
		margin-bottom: 10px;
	}
	
	.Text2 p
	{
		padding: 10px;
		line-height: 25px;
	}
	
	.footer
	{
		display: flex;
		margin-top: 60px;
	}
	
.footerNav
	{
		max-width: 60%;
		margin-left: 20%;
	}
	
	.Commitee_name
	{
		max-width: 60%;
		margin-right: 20%;
	}
	.footer h2
	{
		font-size: 20px;
	}
	
	.footer p
	{
		font-size: 16px;
		letter-spacing: 0.8px;
		margin-bottom: 5px;
	}
	
	
/* 	about */
	#gifCon
	{
		display: flex;
	}
	
	.moreAbout
	{
		display: flex;
	}
	
	.moreAbout img
	{
		margin-left: 80px;
		margin-top: 0;
	}
	
	.Text3
	{
		max-width: 50%;
		margin-left: 30px;
	}
	.Text3 h2
	{
		margin-bottom: 10px;
		margin-top: 0;
	}
	
	.Text3 p
	{
		line-height: 22px;
		padding: 10px;
		margin-top: 20px;
	}
	
	
	
/* 	past events */
	
	#MainDivVideo video
	{
		width: 1200px;
		height: 400px;
		max-width: 100%;
	}
	
	#events
	{
		display: flex;
		flex-direction: column;
	}
	
	#Event1
	{
		max-width: 80%;
		margin-left: 10%;
	}
	
	#Event1 p
	{
		line-height: 29px;
		padding: 20px;
	}
	
	#Event2
	{
		max-width: 80%;
		margin-left: 10%;
	}
	
	#Event2 #EventText2
	{
		margin-left: -40px;
	}
	
	#EventText2 p
	{
		line-height: 30px;
	}
	
	#Event2 img
	{
		margin-right: 0px;
	}
	
	#Event3
	{
		max-width: 80%;
		margin-left: 10%;
	}
	
	#EventText3 p
	{
		line-height: 22px;
		padding: 15px;
	}
	
	#Event4
	{
		max-width: 80%;
		margin-left: 10%;
	}
	
	#EventText4
	{
		margin-left: -50px;
	}
	
	#EventText4 p
	{
		line-height: 26px;
		padding: 15px;
	}
	
	#Event5
	{
		max-width: 80%;
		margin-left: 10%;
	}
	
	#EventText5 p
	{
		line-height: 20px;
	}
	
	#Event6
	{
		max-width: 80%;
		margin-left: 10%;
	}
	
	#EventText6
	{
		margin-left: -40px;
	}
	
	#EventText6 p
	{
		line-height: 22px;
		padding: 15px;
	}
	
	#Event7
	{
		max-width: 80%;
		margin-left: 10%;
	}
	
	#EventText7 p
	{
		line-height: 30px;
		padding: 15px;
	}
/* 	projects */
	
	#traaProjects h2
	{
		font-size: 32px;
	}
	
	#traaProjects h3
	{
		font-size: 24px;
		margin-bottom: 20px;
	}
	
	#traaProjects p
	{
		font-size: 20px;
		line-height: 25px;
		letter-spacing: 0.4px;
		margin-bottom: 30px;
	}
	
	#traaProjects p:hover
	{
		background-color: #DEE8BE;
		color: #cd892a;
	}
	
	#projects1-2
	{
		display: flex;
		max-width: 80%;
		margin-left: 10%;
	}
	
	#projects1-2 p:hover
	{
		background-color: #DEE8BE;
		color: #cd892a;
	}
	
	#Project1
	{
		flex: 1 1 400px;
	}
	
	#Project1 h2
	{
		text-align: left;
		font-size: 26px;
	}
	
	
	#Project2
	{
		flex: 1 1 400px; 
	}
	
	#Project2 img
	{
		margin-top: 25px;
	}
	
	#Project2 h2
	{
		text-align: left;
		font-size: 26px;
	}
	
	#Project2 p
	{
		line-height: 31px;
	}
	
	#projects1-2 p
	{
		max-width: 400px;
	}
	
	#read:hover
	{
		color: #efefef;
		background-color: #95B04F;
		padding: 5px;
		border-bottom: 3px solid #D6A867;
		border-radius: 5px;
		font-weight: bold;
	}
	
	#Archives
	{
		display: flex;
/* 		max-width: 70%; */
		margin-left: 10%;
	}
	
	#projectArchives a
	{
		margin-left: 200px;
	}
	
	
/* 	contact */
	
	#contactCon
	{
		display: flex;
	}
	
	#contactForm
	{
		flex: 1 1 400px;
		margin-right: 50px;
		margin-top: 0;
		box-shadow: none;
	}
	
	#contactForm input[type=submit]:hover
	{
		font-size: 18px;
		width: 30%;
		color: #4A4A4A;
		background-color: #DEE8BE;
		border: 1px dotted #95B04F;
		border-radius: 3px;
		-webkit-transition: width 1s;
  transition: width 1s;
		transition-timing-function: ease-in;
	}
	
	#contactInfo
	{
		flex: 1 1 400px;
		display: flex;
		flex-direction: column;
	}
	
	#contactIcon
	{
		flex: 1 1 150px;
	}
	
	#contactIcon p
	{
		margin-left: 70px;
	}
	
	#contactCon img
	{
		float: left;
	}
	
	#locationDetails
	{
		flex: 1 1 150px;
	}
	
	#locationDetails img
	{
		margin-left: 10px;
	}
	
	#locationDetails p
	{
		margin-left: 70px;
	}
	
	#emailInfo
	{
		flex: 1 1 50px;
	}
	
	
	
	
	
	
}
	
	




